{% extends "base.html" %}

{% block content %}
<div class="container" id="products">
    <div class="row-container">
        <article class="product-card column-container1">
            <img class="product-card__picture" src="{{products[0].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[0].product_name}}</span>
            <span class="product-card__price">{{products[0].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container2">
            <img class="product-card__picture" src="{{products[1].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[1].product_name}}</span>
            <span class="product-card__price">{{products[1].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container3">
            <img class="product-card__picture" src="{{products[2].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[2].product_name}}</span>
            <span class="product-card__price">{{products[2].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container4">
            <img class="product-card__picture" src="{{products[3].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[3].product_name}}</span>
            <span class="product-card__price">{{products[3].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container5">
            <img class="product-card__picture" src="{{products[4].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[4].product_name}}</span>
            <span class="product-card__price">{{products[4].price}} р</span>
            <button class="button">В корзину</button>
        </article>
    </div>
    <div class="row-container2">
        <article class="product-card column-container1">
            <img class="product-card__picture" src="{{products[5].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[5].product_name}}</span>
            <span class="product-card__price">{{products[5].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container2">
            <img class="product-card__picture" src="{{products[6].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[6].product_name}}</span>
            <span class="product-card__price">{{products[6].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container3">
            <img class="product-card__picture" src="{{products[7].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[7].product_name}}</span>
            <span class="product-card__price">{{products[7].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container1">
            <img class="product-card__picture" src="{{products[8].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[8].product_name}}</span>
            <span class="product-card__price">{{products[8].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container2">
            <img class="product-card__picture" src="{{products[9].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[9].product_name}}</span>
            <span class="product-card__price">{{products[9].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container3">
            <img class="product-card__picture" src="{{products[10].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[10].product_name}}</span>
            <span class="product-card__price">{{products[10].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <div class="image-container" >
            <div class="image-podcontainer">
                Здесь должен быть блок из 4 объектов из рекомендательных систем
            </div>
        </div>
    </div>
     <div class="row-container3">
        <article class="product-card column-container1">
            <img class="product-card__picture" src="{{products[11].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[11].product_name}}</span>
            <span class="product-card__price">{{products[11].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container2">
            <img class="product-card__picture" src="{{products[12].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[12].product_name}}</span>
            <span class="product-card__price">{{products[12].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container3">
            <img class="product-card__picture" src="{{products[13].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[13].product_name}}</span>
            <span class="product-card__price">{{products[13].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container4">
            <img class="product-card__picture" src="{{products[14].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[14].product_name}}</span>
            <span class="product-card__price">{{products[14].price}} р</span>
            <button class="button">В корзину</button>
        </article>
        <article class="product-card column-container5">
            <img class="product-card__picture" src="{{products[15].image}}" width="100%" height="200" alt="product" />
            <span class="product-card__name">{{products[15].product_name}}</span>
            <span class="product-card__price">{{products[15].price}} р</span>
            <button class="button">В корзину</button>
        </article>
    </div>
</div>

<div class="container"
    id="products"
     hx-get="/?current_page={{ page }}"
     hx-trigger="revealed"
     hx-swap="outerHTML"
     hx-select="#products"
     >
</div>

{% endblock %}